<link href="@Url.Content("~/Content/weathericons/weather-icons.min.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="container-fluid">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div class="panel panel-primary">
                <div class="panel-heading">Today's Info @DateTime.Now.ToString("D")</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6" style="border-right:solid 2px black">
                            <p>Weather in Oklahoma City, OK</p>
                            <div class="col-md-4">
                                <p>ICON GOES HERE</p>
                                <i class="wi wi-day-sunny"></i>
                                <p>Current Weather: @ViewBag.Temp</p>
                            </div>
                            <div class="col-md-8">
                                <p>Hi: @ViewBag.Max</p>
                                <p>Low: @ViewBag.Min</p>
                                 @ViewBag.Summary
                                <p>Sunrise: @ViewBag.Sunrise</p>
                                <p>Sunset: @ViewBag.Sunset</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p>Here goes some information about today. (example: today is president's day. 45th day of the year. 7th week of the year.)</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-12">
                        <div class="col-md-2" style="background-color:#c9e9b0">
                            <h3><img src="~/Images/us.png" width="32" height="21" title="Flag for United States" /> Oklahoma City, OK</h3>
                            <br/>
                            <span id="localTime" style="font-size:18px"></span>
                            <br/>
                            <span id="localDate"></span>
                        </div>
                        <div class="col-md-2" style="background-color:#64beed">
                            <h3><img src="~/Images/us.png" width="32" height="21" title="Flag for United States" /> New York, NY</h3>
                            <br />
                            <span id="timeEST" style="font-size:18px"></span>
                            <br />
                            <span id="estDate"></span>
                        </div>
                        <div class="col-md-2" style="background-color:#c9e9b0">
                            <h3><img src="~/Images/gb.png" width="32" height="21" title="Flag for United Kingdom" /> UTC</h3>
                            <br />
                            <span id="timeUTC" style="font-size:18px"></span>
                            <br />
                            <span id="utcDate"></span>
                        </div>
                        <div class="col-md-2" style="background-color:#64beed">     
                            <h3><img src="~/Images/gb.png" width="32" height="21" title="Flag for United Kingdom" /> London, UK</h3>
                            <br />
                            <span id="timeGMT" style="font-size:18px"></span>
                            <br />
                            <span id="gmtDate"></span>
                        </div>
                        <div class="col-md-2" style="background-color:#c9e9b0">
                            <h3><img src="~/Images/uae.png" width="32" height="21" title="Flag for United Arab Emirates" /> Dubai, UAE</h3>
                            <br />
                            <span id="timeAST" style="font-size:18px"></span>
                            <br />
                            <span id="astDate"></span>
                        </div>
                        <div class="col-md-2" style="background-color:#64beed">
                            <h3><img src="~/Images/ind.png" width="32" height="21" title="Flag for India" /> Mumbai, India</h3>
                            <br />
                            <span id="timeIST" style="font-size:18px"></span>
                            <br />
                            <span id="istDate"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>Here goes today's exercise information.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Here goes today's caloric intakes. Body Weight.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/Custom/timer.js"></script>
}


