@model MvcApplication.Models.ExerciseModel

@{
    ViewBag.Title = "Exercise";
}

<h2>Exercise</h2>
<br/>
<div>
   @*@using (Html.BeginForm("WorkoutChosen", "Exercise", FormMethod.Post))
   {
        <form action="/Exercise/WorkoutChosen" method="post">  
            <fieldset>
                Choose Workout
                @Html.DropDownList("WorkoutType")
                <input type="submit" value="submit" />
            </fieldset>
        </form>    
   }*@

@using (Html.BeginForm("WorkoutChosen", "Exercise", new{ id = ""}))
   {
    <form action="/Exercise/WorkoutChosen" method="post">
        <fieldset>
            Choose Workout
            @Html.DropDownList("id", (SelectList)null, new {onchange = "this.form.submit();"})
            @*<input type="submit" value="submit" />*@
        </fieldset>
    </form>
}
</div>

<div>
    @ViewBag.Attempts
</div>

<fieldset>
    <legend>ExerciseModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
