@{
    ViewBag.Title = "Workouts";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div>
    @using (Html.BeginForm("WorkoutChosen", "Exercise", new { id = "" }))
    {
        <form action="/Exercise/WorkoutChosen" method="post">
            <fieldset>
                Choose Workout
                @Html.DropDownList("id", (SelectList)null, new { onchange = "this.form.submit();" })
            </fieldset>
        </form>
    }
</div>

<br/>

<section class="exercise-featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h3 style:color="red">@ViewBag.CurrentExerciseGroup</h3>
            <h5>Previous attempts</h5>
        </hgroup>

        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (KeyValuePair<DateTime, List<MvcApplication.Models.Definitions.PastReps>> item in Model)
                        {
                            var value = item.Value;

                            foreach (var rep in value)
                            {
                                <th>@Html.Encode(rep.ExerciseName)</th>
                            }
                            break;
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (KeyValuePair<DateTime, List<MvcApplication.Models.Definitions.PastReps>> item in Model)
                    {
                        var key = item.Key;
                        var value = item.Value;

                        <tr>
                            <td>@Html.Encode(value[0].Date.ToString("MM/dd/yyyy"))</td>

                            @foreach (var entry in value)
                            {
                                if(entry.Weight != null)
                                {
                                    <td>@Html.Encode(entry.Reps) reps @Html.Encode(entry.Weight) lbs</td>
                                }
                                else
                                {
                                    <td>  @Html.Encode(entry.Reps) reps </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
               
            </table>
        </div>
    </div>
</section>

<br/>

<section class="featured">
    <div class="content-wrapper">
        <h2>New @ViewBag.CurrentExerciseType Entries</h2>
        
        <br/>

        @using (@Html.BeginForm("Index", "Exercise", FormMethod.Post))
        {
            <label>Exercise Name</label>
            @Html.TextBox("exerciseName");

            <label>Reps</label>
            @Html.TextBox("reps");
            
            <label>Weight</label>
            @Html.TextBox("weight");

            <label>Intensity</label>
            @Html.TextBox("intensity");
            
            <br />
            <input type="button" value="Next" />
        }
    </div>
</section>

