@{
    ViewBag.Title = "Workouts";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div>
    @using (Html.BeginForm("WorkoutChosen", "Exercise", new { id = "" }))
    {
        <form action="/Exercise/WorkoutChosen" method="post">
            <fieldset>
                Choose Workout
                @Html.DropDownList("id", (SelectList)null, new { onchange = "this.form.submit();" })
            </fieldset>
        </form>
    }
</div>

<br/>

<section class="exercise-featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h3>@ViewBag.CurrentExerciseGroup</h3>
            <h5>Previous attempts</h5>
        </hgroup>

        <div class="table">
            <table>
                <tr>
                    <th></th>
                    @foreach (KeyValuePair<DateTime, List<MvcApplication.Models.Definitions.PastReps>> item in Model)
                    {
                        var value = item.Value;
                      
                        foreach (var rep in value)
                        {
                            <th>@Html.Encode(rep.ExerciseName)</th>
                        }
                        break;
                    }
                </tr>
                
                @foreach (KeyValuePair<DateTime, List<MvcApplication.Models.Definitions.PastReps>> item in Model)
                {
                    var key = item.Key;
                    var value = item.Value;
                    
                    <tr>
                        <td>@Html.Encode(value[0].Date)</td>    

                        @foreach(var entry in value)
                        {
                            <td>@Html.Encode(entry.Reps)</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

